-e git+https://github.com/Rapptz/discord.py@master#egg=discord.py
-e git+https://github.com/thec0sm0s/DiscordDB
aiohttp
websockets
pyfiglet
psutil
-e git+https://github.com/Gorialis/jishaku@master#egg=jishaku
